.nav {
    
    padding-top: 6px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    background-color: rgb(31, 31, 31);
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.nav button {
    margin-left: 100px;
    color: rgb(255, 255, 255);
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

@media screen and (min-width: 601px) {
    .nav {
        height: 50pt;
        font-size: 30pt;
    }
  }

  @media screen and (max-width: 600px) {
    .nav {
        height: 30pt;
        font-size: 20pt;
    }
  }