.Search {
    margin-top: 50pt;
    width: 60%;
    padding: 20px 50px;
    border-radius: 50px;
    border: 0;
    box-shadow: 0px 2px 10px #929090;
    transform: translateX(25%);
    font-size: 15pt;
    outline: none;
    overflow: hidden;
  }